/* パーツ用 */
.container {
  display: block;
  margin: 0 auto;
}
.w-large-container { //追加
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 0;
  width: 1020px;
}
.l-single-container {
  display: block;
  margin: 0 auto;
  width: 700px;
  background-color: $bg-item-card-color;
}
.items-box {
  width: 213px;
  display: block;
}
.btn-small {
  display: block;
  margin: 0 auto;
  width: 318px;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  text-align: center;
  background-color: $bg-color_base-gray;
}
.btn-large {
  display: block;
  margin: 0 auto;
  width: 620px;
  padding: 10px 0;
  font-size: 14px;
  border: 1px solid transparent;
  text-align: center;
  background-color: $bg-color_base-gray;
}
.badge-num {
  background-color: $bg-color_red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
.item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
}
.blue-link {
  color: $font-color_link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    opacity: .7;
  }
}
/* 微調整用 */
.padding-left_15 {
  padding-left: 15px;
}
.margin_0 {
  margin: 0;
}
.margin-top_0 {
  margin-top: 0;
}
.margin-top_10 {
  margin-top: 10px;
}
.margin-top_20 {
  margin-top: 20px;
}
.margin-top_30 {
  margin-top: 30px;
}
.margin-top_40 {
  margin-top: 40px;
}
.margin-top_50 {
  margin-top: 50px;
}
.margin-left_0 {
  margin-left: 0;
}
.margin-left_5 {
  margin-left: 5px;
}
.margin-left_10 {
  margin-left: 10px;
}
.margin-left_15 {
  margin-left: 15px;
}
.margin-left_20 {
  margin-left: 20px;
}
.margin-left_25 {
  margin-left: 25px;
}
.margin-left_30 {
  margin-left: 30px;
}
.margin-bottom_40 {
  margin-bottom: 40px;
}
.font-color_black {
  color: $font-color_black;
}
.font-color_blue {
  color: $bg-color_blue;
}
.font-color_light-gray {
  background-color: $bg-color_light-gray;
}
.background-color_white {
  background-color: $font-color_white;
}
.background-color_red {
  background-color: $bg-color_red;
}
.background-color_blue {
  background-color: $bg-color_blue;
}
.background-color_base-gray {
  background-color: $bg-color_base-gray;
}
.background-color_light-gray {
  background-color: $bg-color_light-gray;
}
.background-color_gray {
  background-color: $bg-color_gray;
}
.background-color_btn-gray {
  background-color: $bg-seachform-border-color;
}
.border-radius_4 {
  border-radius: 4px;
}
.text-align_center {
  text-align: center;
}
.text-align_left {
  text-align: left;
}
.text-align_right {
  text-align: right;
}
.font-size_12 {
  font-size: 12px;
}
.font-size_14 {
  font-size: 14px;
}
.line-height_12 {
  line-height: 12px;
}
.line-height_14 {
  line-height: 14px;
}
