$bg-header-color: #ffffff;
$bg-seachform-color: #fafafa;
$bg-seachform-border-color: #ccc;
$bg-item-card-color: #ffffff;
$bg-color_blue: #369ae8;
$bg-color_red: #ea352d;
$bg-color_light-gray: #aaaaaa;
$bg-color_base-gray: #f5f5f5;
$bg-color_gray: #888888;
$bg-color_black: #212121;
$font-color_white: #ffffff;
$font-color_black: #000000;
