= render 'layouts/header_mypage'
.l-container.clearfix
  .l-content
    .logout
      .logout-container
        .logout-container__button
          = link_to "ログアウト", "/", class: "logout-container__button--content"
  = render "side-bar"
= render partial: "layouts/footer"
