header {
  background-color: $bg-header-color;
  @include tab {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    z-index: 99;
  }
}
.search-form-width {
  width: calc(100% - (134px + 16px));
}
.header-inner {
  max-width: 1020px;
  margin: 0 auto;
  padding: 8px 10px 0;
  @include tab {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  }
  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tab {
      max-width: 200px;
    }
    .logo {
      width: 13%;
      display: flex;
      align-items: center;
      @include tab {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .search-form {
      width: calc(100% - (134px + 16px));
      @include tab {
        display: none;
      }
      form {
        position: relative;
        input {
          width: 100%;
          padding: 5px 0px 5px 8px;
          background: $bg-seachform-color;
          border: 1px solid $bg-seachform-border-color;
          font-size: 16px;
          border-radius: 4px;
          box-sizing: border-box;
        }
        button {
          border: none;
          position: absolute;
          top: 2px;
          right: 1px;
          padding: 6px;
          background: $bg-seachform-color;
          border-radius: 0 4px 4px 0;
          .search-icon-size {
            line-height: 20px;
            cursor: pointer;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  .header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    @include tab {
      display: none;
    }
    &--left {
       display: flex;
       align-items: center;
      .header-search-item {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          line-height: 32px;
          font-size: 14px;
          a {
            color: $font-color_black;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
    &--right {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: $font-color_black;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: block;
              width: 32px;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }
            .header-icon {
              font-size: 17px;
              width: inherit;
            }
            p {
              font-size: 14px;
              margin-left: 8px;
              margin: 0 0 0 8px;
            }
          }
        }
        li + li {
          padding-left: 16px;
        }
      }
    }
  }
  .sp-nav {
    display: none;
    @include tab {
      display: inline-block;
      .nav {
        width: 312px;
        height: 100%;
        transition: all 0.2s;
        transform: translate(312px);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: #FFF;
      }
      nav.open {
        transform: translate(0);
      }
    }
  }
}
.menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  li {
    a {
      line-height: 44px;
      padding: 0 0 0 15px;
      &:hover {
        background: $bg-color_red;
        color: $font-color_white!important;
      }
    }
  }
}
.menu > li:hover {
  background: $bg-header-color;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu > li.menu__single {
  position: relative;
}
li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: $bg-header-color;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
li.menu__single:hover ul.menu__second-level {
  top: 35px;
  visibility: visible;
  opacity: 1;
  width: 224px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
}

#nav-wrapper {
  display: none;
  @include tab {
    display: inline-block;
    position: relative;
  }
}

#contents {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: .4s transform;
}

#contents {
  height: 1000px;
  background-color: #ddd;
}

// .nav-menu {
//   ul {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     height: 70px;
//     background: #ffc400;
//     li {
//       padding: 0 20px;
//       transition: all .5s;
//       a {
//         position: relative;
//         display: inline-block;
//         text-decoration: none;
//         &:after {
//           position: absolute;
//           bottom: -4px;
//           left: 0;
//           content: '';
//           width: 100%;
//           height: 2px;
//           background: #333;
//           transform: scale(0, 1);
//           transform-origin: left top;
//           transition: transform .3s;
//         }
//         &:hover::after {
//           transform: scale(1, 1);
//         }
//       }
//     }
//   }
// }

@include tab {
  #nav-btn {
    display: block;
    position: absolute;
    z-index: 11;
    top: 14%;
    right: 10%;
    border: none;
  }

  //ハンバーガーボタン
  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 44px;
    color: #000;
    background-color: #fff;
    .bdr {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background: #000;
      transition: all .5s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &.is-active {
      .bdr {
        background: #fff;
        &:nth-child(1) {
          transform: translateY(20px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-20px) rotate(45deg);
        }
      }
    }
  }
  .nav-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 340px;
    height: 100%;
    padding-top: 70px;
    text-align: left;
    font-size: 13px;
    background: $bg-color_red;
    z-index: 1;
    transform: translateX(340px);
    transition: .4s all;
    overflow: scroll;
    ul {
      display: block;
      width: 340px;
      line-height: 70px;
      background: none;
      color: #fff;
      text-align: center;
      font-weight: bold;
      margin-top: 15px;
      li {
        transition: all .5s;
        &:hover {
          color: $bg-color_red;
          background: #fff;
        }
        a {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 60px;
          &:after {
            display: none;
          }
          &:hover {
            color: $bg-color_red;
          }
        }
      }
    }
  }
  .nav-open {
    .nav-menu{
      transform: translateX(0);
    }
    .hamburger {
      color: #fff;
      background: #ea352d;
    }
    #contents{
      transform: translateX(-340px);
    }
  }
}
