header {
  background-color: $bg-header-color;
}
.search-form-width {
  width: calc(100% - (134px + 16px));
}
.header-inner {
  width: 1020px;
  margin: 0 auto;
  padding: 8px 0 0;
  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 134px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .search-form {
      width: calc(100% - (134px + 16px));
      form {
        position: relative;
        input {
          width: 100%;
          padding: 5px 0px 5px 8px;
          background: $bg-seachform-color;
          border: 1px solid $bg-seachform-border-color;
          font-size: 16px;
          border-radius: 4px;
          box-sizing: border-box;
        }
        button {
          border: none;
          position: absolute;
          top: 2px;
          right: 1px;
          padding: 6px;
          background: $bg-seachform-color;
          border-radius: 0 4px 4px 0;
          .search-icon-size {
            line-height: 20px;
            cursor: pointer;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  .header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    &--left {
       display: flex;
       align-items: center;
      .header-search-item {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          line-height: 32px;
          font-size: 14px;
          a {
            color: $font-color_black;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
    &--right {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: $font-color_black;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: block;
              width: 32px;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }
            .header-icon {
              font-size: 17px;
              width: inherit;
            }
            p {
              font-size: 14px;
              margin-left: 8px;
              margin: 0 0 0 8px;
            }
          }
          .btn-login,.btn-signup {
            border-radius: 4px;
            line-height: 30px;
            font-size: 14px;
            padding: 0 10px;
            margin-bottom: 5px;
          }
          .btn-login {
            background-color: $bg-color_red;
            color: $font-color_white;
            border: 1px solid $bg-color_red;
          }
          .btn-signup {
            background-color: $font-color_white;
            color: $bg-color_blue;
            border: 1px solid $bg-color_blue;
          }
        }
        li + li {
          padding-left: 16px;
        }
      }
    }
  }
}
.menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  li {
    a {
      line-height: 44px;
      padding: 0 0 0 15px;
      &:hover {
        background: $bg-color_red;
        color: $font-color_white!important;
      }
    }
  }
}
.menu > li:hover {
  background: $bg-header-color;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu > li.menu__single {
  position: relative;
}
li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: $bg-header-color;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
li.menu__single:hover ul.menu__second-level {
  top: 35px;
  visibility: visible;
  opacity: 1;
  width: 224px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
}
