.l-container {
  margin: 40px auto 0;
  width: 1020px;
  &.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}

.l-content {
  float: right;
  width: 700px;
  .mypage-user {
    position: relative;
    background: url("user-bg.jpg");
    padding: 20px;
    height: 160px;
    text-align: center;
    &__icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 200px;
      text-decoration: none;
      color: #333;
      &:hover{
        opacity: 0.5;
      }
      &--thumb {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        margin-top: 5%;
        img {
          width: 60px;
        }
      }
      h2 {
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: bold;
      }
    }
    &__number {
      margin: 8px 0 0;
      div {
        display: inline-block;
        font-size: 14px;
      }
      div + div {
        margin: 0 0 0 16px;
      }
    }
  }

  .mypage-notification-todo {
    background-color: #fff;
    .mypage-tabs {
      background-color: #eee;
      font-size: 0;
      li {
        width: 50%;
        display: inline-block;
        text-align: center;
        h3 {
          font-weight: bold;
          a {
            display: block;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            color: #333;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .tab-contents {
      display: block;
      .mypage-tab-notification {
        li {
          border-bottom: 1px solid #eee;
          position: relative;
        }
        &__item {
          display: block;
          min-height: 48px;
          padding: 16px;
          font-size: 14px;
          text-decoration: none;
          &:hover {
            background-color: #eee;
          }
          img {
            width: 48px;
            float: left;
          }
          &--body {
            margin: 0 40px 0 68px;
            color: #333;
            &--text {
              max-height: 4.4em;
              line-height: 15px;
            }
            &--time {
              color: #888;
            }
          }
            .fa-angle-right {
              position: absolute;
              top: 40%;
              font-size: 20px;
              right: 16px;
              color: #333;
            }
          }

        .mypage-go-list {
          display: block;
          margin: 0 auto;
          padding: 16px;
          text-align: center;
          a {
            color: #333;
            display: block;
            height: 56px;
            text-decoration: none;
            font-size: 14px;
            line-height: 56px;
            margin: 0 auto;
            background-color: #eee;
          }
        }
      }
      .mypage-tab-todo {
        .mypage-item-nolist {
          background: url("logo-gray-icon.svg");
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          padding: 160px 0 60px;
          color: #ccc;
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
  .mypage-tab-history {
    margin: 40px 0 0;
    background-color: #fff;
    &__head {
      padding: 0 16px;
      background-color: $bg-seachform-color;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__body {
      background-color: #eee;
      font-size: 0;
      li {
        width: 50%;
        display: inline-block;
        text-align: center;
        h3 {
          font-weight: bold;
          a {
            display: block;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            color: #333;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .tab-contents {
      display: block;
      .mypage-item-nolist {
        background: url("logo-gray-icon.svg");
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 78px 85px;
        padding: 160px 0 60px;
        color: #ccc;
        text-align: center;
        font-weight: 600;
      }
    }
  }

  li.active {
    background-color: #fff;
    border-top: 2px solid $bg-color_red;
  }
}
