%header
  .header-inner
    .header-inner--top
      .logo
        %img{:alt => "mercari", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?817106341"}/
      .search-form.search-form-width
        %form
          %input.search-form-width{:name => "search-item", :placeholder => "キーワードから探す", :type => "text"}/
          %button
            %i.fas.fa-search.search-icon-size
    .header-bottom
      .header-bottom--left
        %ul.header-search-item.menu
          %li
            %a{:href => "#"} カテゴリーから探す
          %li.menu__single.padding-left_15
            %a.init-bottom{:href => "#"} ブランドから探す
            %ul.menu__second-level
              %li
                %a{:href => "#"} シャネル
              %li
                %a{:href => "#"} ナイキ
              %li
                %a{:href => "#"} ルイ ヴィトン
              %li
                %a{:href => "#"} シュプリーム
              %li
                %a{:href => "#"} アディダス
              %li
                %a{:href => "#"} ブランド一覧
      .header-bottom--right
        %ul.links
          %li
            %a{:href => "#"}
              %span
                %img{:alt => "", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/members/165510990.jpg?1526691293"}/
              %p マイページ
          %li
            %a{:href => "#"}
              %span.header-icon
                %i.far.fa-bell
              %p お知らせ
          %li
            %a{:href => "#"}
              %span.header-icon
                %i.fas.fa-check
              %p やることリスト
