%header
  .header-inner
    .header-inner--top
      .logo
        = link_to "/" do
          %img{alt: "mercari", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?817106341"}/
      .search-form.search-form-width
        %form
          %input.search-form-width{name: "search-item", placeholder: "キーワードから探す", type: "text"}/
          %button
            %i.fas.fa-search.search-icon-size
    .header-bottom
      .header-bottom--left
        %ul.header-search-item.menu
          %li
            %a{href: "#"} カテゴリーから探す
          %li.menu__single.padding-left_15
            %a.init-bottom{href: "#"} ブランドから探す
            %ul.menu__second-level
              %li
                %a{href: "#"} シャネル
              %li
                %a{href: "#"} ナイキ
              %li
                %a{href: "#"} ルイ ヴィトン
              %li
                %a{href: "#"} シュプリーム
              %li
                %a{href: "#"} アディダス
              %li
                %a{href: "#"} ブランド一覧
      .header-bottom--right
        %ul.links
          - if user_signed_in?
            %li
              %a{href: "#"}
                %span
                  %img{alt: "", src: "https://mcdn.mercariapp.com/images/member_photo_noimage_thumb.png"}/
                %p マイページ
            %li
              %a{href: "#"}
                %span.header-icon
                  %i.far.fa-bell
                %p お知らせ
            %li
              %a{href: "#"}
                %span.header-icon
                  %i.fas.fa-check
                %p やることリスト
          - else
            %li
              = link_to "ログイン", 'users/new', class: 'btn-login'
            %li
              = link_to "新規会員登録", new_user_registration_path, class: 'btn-signup'
    #nav-wrapper
      %nav.nav-menu
        %ul
          %li
            マイページ
          %li
            お知らせ
          %li
            やることリスト
          %li
            カテゴリーから探す
          %li
            ブランドから探す
          %li
            出品する

      %button{id: "nav-btn", type: "button", class: "hamburger"}
        %span.bdr
        %span.bdr
        %span.bdr
